<h1> Hello <%= @booking.flat.user.name %></h1>

<%= @booking.user.name %> booked your flat <%= @booking.flat.name %> from <%= @booking.start_date %> to <%= @booking.end_date %> and say:
<%= @booking.notice %>

